<div fxLayout="row"
     fxLayoutAlign="space-around start"
     class="top-container">

  <div fxFlex="30%"
       fxFlexOffset="250px">
       <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput
                 name="name"
                 placeholder="City Name"
                 [(ngModel)]="city.name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput
                 name="description"
                 placeholder="description"
                 [(ngModel)]="city.description">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput
                 name="temperature"
                 placeholder="temperature"
                 [(ngModel)]="city.temperature">
        </mat-form-field>
        <div *ngIf="updateForm"
             class="button-row"
             style="margin-left: 10px;">
          <button mat-raised-button
                  (click)="saveCityUpdate(city)"
                  color="primary">Update</button>
        </div>
      </form>
  </div>

  <div fxFlex="40%">
    <!-- Fix using resolvers -->
    <mat-accordion *ngFor="let city of cities">
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{city?.weather.name}}
          </mat-panel-title>
          <mat-panel-description>
            {{city?.weather.description}} | Temp: {{city?.weather.temperature | number:'1.0-0'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div style="text-align: center">
        <button mat-button mat-suffix mat-icon-button
                  color="warn"
                  class="delete-button"
                  aria-label="Delete"
                  (click)="deleteCity(city.id)"
                  matTooltip="Delete city">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-button mat-suffix mat-icon-button
                  color="primary"
                  class="update-button"
                  aria-label="Update"
                  (click)="updateCity(city)"
                  matTooltip="Update city">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

