<div fxLayout="row"
fxLayoutAlign="space-around start"
class="container-top">

  <div fxFlex="40%"
  fxFlexOffset="200px">
  <app-weather-search></app-weather-search>
  </div>

  <div fxFlex="50%">
    <app-weather-item></app-weather-item>
  </div>

</div>