<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/weather']">Home</a>
      <a mat-list-item
      class="menu-link"
      *ngIf="(userAuth.user$ | async)?.uid"
      [routerLink]="['/user/cities', (userAuth.user$ | async)?.uid || 'all' ]">Saved Cities</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Weather Map</span>
      <span class="spacer"></span>
      <span>
        <a *ngIf="!(userAuth.user$ | async)?.uid"
           class="bg-color"
           [routerLink]="['/user/login']"
           >Login</a>
        <a *ngIf="(userAuth.user$ | async)?.uid"
           class="bg-color"
           [routerLink]="['/user/profile']"
           >Profile</a>
        <a *ngIf="(userAuth.user$ | async)?.uid"
           class="bg-color"
           (click)="userAuth.logout()"
           >Logout</a>
      </span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>