.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.spacer {
  flex: 1 1 auto;
}

.bg-color, a:link {
  color: white;
  text-decoration: none;
  margin-right: 25px;
  cursor: pointer;
}

.menu-link{
  color:rgb(5,5,5);
}
